@use 'global' as *;

.blog {
    height: $size;
    width: $size;
    background-color: $azul;
}

div {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    p {
        color: red;
        font-size: large;
    }
}
