@use 'global' as *;

@mixin repetido($tamano, $color) {
    height: $tamano;
    width: $tamano;
    background-color: $color;
}

.blog {
    @include repetido($size, $azul);

    @if ($size <= 400) {
        border: 10px solid;
        border-color: $verde;
    }
}

.blog2 {
    @include repetido(300px, beige);
}



div {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    p {
        color: red;
        font-size: large;
    }
}

// @media (orientation : landscape) {
//     .blog {
//         background-color: $verde;
//     }
// }