.publish {
    /* container styles if any */
  }
  
  .publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publish > form {
    display: flex;
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px;
}

.promo {
   display: flex;
   width: 70%;
   margin: 100px auto;
   align-items: center;
}